.cashfree-wrap { clear: both; margin: 0px auto; max-width: 1024px; min-width: 930px; overflow: hidden; }

.cashfree-header { clear: both; margin-bottom: 25px; padding-top: 15px; overflow: hidden; }
.cashfree-header img.cashfree-logo { float: left; margin: 0px 50px 0px 0px; }
.cashfree-header span.cashfree-intro { border-left: #A7A8AB solid 1px; color: #00A9E0; display: block; float: left; font-size: 24px; height: 55px; line-height: 24px; margin: 0px; padding: 10px 0px 0px 50px; }
.cashfree-header a.cashfree-create-btn { background-color: #00A9E0; color: #FFF; display: inline-block; float: right; font-size: 16px; font-weight: bold; height: 35px; line-height: 33px; margin: 18px 0px 0px 0px; padding: 0px 15px; }
.cashfree-header a.cashfree-create-btn:hover { background-color: #0099E0; }

.cashfree-content { border: #A7A8AB solid 1px; clear: both; margin: 0px 0px 10px 0px; overflow: hidden; padding: 15px; }
.cashfree-content h3 { color: #00A9E0; font-size: 22px; font-weight: normal; line-height: 22px; margin: 0px 0px 15px 0px; padding: 0px; }
.cashfree-content h3 sup { font-size: 12px; vertical-align: super; }
.cashfree-content h3 strong { color: #CC0000; vertical-align: text-top; }
.cashfree-content p, .cashfree-content ul li { color: #535353; font-size: 14px; line-height: 22px; margin: 0px; padding: 0px; }
.cashfree-content a.cashfree-btn { background-color: #CCC; color: #008CDD; display: inline-block; margin: 7px 0px; padding-left: 8px; text-decoration: none; }
.cashfree-content a.cashfree-btn:hover { background-color: #666; text-decoration: underline; }
.cashfree-content ul { list-style: none; margin: 0px 0px 15px 0px; padding: 0px; }
.cashfree-content p.cashfree-note { color: #7F7F7F; font-size: 1em; font-style: italic; line-height: 1.2em; margin-bottom: 10px; }
.cashfree-content p.cashfree-note sup { font-size: 0.8em; vertical-align: super; }

.cashfree-full { border-top: #A7A8AB solid 1px; clear: both; overflow: hidden; padding-top: 15px; }
.cashfree-full p { color: #00A9E0; font-size: 16px; line-height: 20px; padding: 0px 0px 0px 410px; }
img.cashfree-cc { float: left; margin: 0px 0px 0px -410px; }
 

#cashfree-configuration input.text { width: 90%; }

.cashfree-wrap fieldset { overflow: hidden }
.cashfree-wrap .MB10 { margin-bottom: 10px; }
.cashfree-wrap .L { float: left; }
.cashfree-wrap .R { float: right; }
.cashfree-wrap fieldset p { text-shadow: 0px 1px 0px #FFFFFF; }

fieldset h4 { margin-top: 0px; }
fieldset span.small { color: #7F7F7F; }
div.cashfree-half { width: 48%; }
div.cashfree-half ol { color: #585A69; font-size: 0.85em; font-weight: bold; list-style-type: decimal; margin: 0px; overflow: hidden; padding: 0px 0px 0px 25px; }
div.cashfree-half ol li { margin: 0px 0px 8px 0px; padding: 0px; }
div.cashfree-half ol li p { color: #7F7F7F; font-size: inherit; font-weight: normal; margin: 0px; padding: 0px; }
div.cashfree-half ol li p a, a.cashfree-credentials-link { color: #268CCD; text-decoration: underline; }
a.cashfree-credentials-link { font-size: 12px; }
div.cashfree-half ol li p a:hover, a.cashfree-credentials-link:hover { text-decoration: none; }

/* Forn-office styles */
div.payment_module { padding-bottom: 20px; text-transform: none; }
div.payment_module .cashfree-logo { clear: both; float: none; margin-bottom: 20px; }
.payment_module #cashfree_form img { float: none; }
.block-left { display: inline-block; float: left; margin-right: 20px; }
#cashfree_form label { display: inline-block; margin-bottom: 4px; text-transform: uppercase; }
#cashfree_form input[type="text"], #cashfree_form select { border: #CCCCCC solid 1px; margin: 0px 0px 15px 0px; padding: 3px; }
#cashfree_form a { display: inline; position: relative; }
#cashfree_form img.cc-cashfree-icon { border: #CCCCCC solid 1px; float: left; margin-right: 5px; }
#cashfree_form img.cc-cashfree-disable { opacity: 0.3; }
#cashfree_form img.cc-cashfree-enable { opacity: 1; }
a.cashfree-card-cvc-info { cursor: default; font-style: italic; margin-left: 5px; }
img#cashfree_cvv_help { margin-right: 4px; vertical-align: text-bottom; }
a.cashfree-card-cvc-info div.cvc-info {
	background-color: #BDE5F8;
	border: #00529B solid 1px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #00529B!important;
	display: none;
	font-style: normal;
	padding: 8px;
	position: absolute;
	right: -320px; top: -85px;
	text-decoration: none;
	width: 300px;
}
a.cashfree-card-cvc-info:hover { background-color: none; }
a.cashfree-card-cvc-info:hover div.cvc-info { display: block; z-index: 10; }
div.cvc-info:hover { cursor: default; }
#cashfree_cvv_help_img { display: block; margin: 0px; }
#cashfree_form .button { float: left; margin-right: 20px; }
#cashfree_submitload { float: left; margin-top: 2px; }